code{
    color: rgb(77, 133, 75);
}
#code{
    color: #000;
}
body{
    background-image: linear-gradient(rgba(255, 0, 0, 0.608),rgba(0, 0, 255, 0.536),rgba(0, 128, 0, 0.602));
}
figcaption,caption{
    font-size: 50px;
    color: blueviolet;
    
}
div{
    margin: 50px;
    
}
#contener-hyperlinge,#contener-table-list,#contener-IVA,#contenr-paragraf,#debut{
    position: relative;
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    background-color: aliceblue ;
    filter: 0.2em;
    padding: 50px;
    border-radius: 20px;
}
#debut{
    margin-left: 20%;
}
p{
    text-align: center;
}
th,td{
    padding: 0px 130px;
}
img,video,audio{
    position: relative;
    align-items: center;
}
.a{
    position: relative;
    right: 0px;
}
.refrech{
    width: 30px;
    height: auto;
    border-radius: 50% ;
}